<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Dịch Vụ</h2>
        <p>Hệ thống tiêm chủng VNVC (thuộc Công ty Cổ phần Vacxin Việt Nam) chính thức đi vào hoạt động từ tháng 6 năm 2017. Trong bối cảnh thế giới đang phải đương đầu với tình trạng biến đổi phức tạp của các chủng vi khuẩn gây bệnh cũng như sự thiếu hụt vắc xin tại Việt Nam như hiện nay, Hệ thống tiêm chủng VNVC ra đời nhằm cung cấp cho trẻ em Việt Nam những loại vắc xin có chất lượng tốt nhất cùng với hệ thống phòng tiêm chủng an toàn, hiện đại và cao cấp.

        Với những mục tiêu đó, Công ty VNVC đã xây dựng dây chuyền bảo quản lạnh (Cold chain) đạt tiêu chuẩn GSP …</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hospital-user"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-wheelchair"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-notes-medical"></i></div>
        <h4 class="title"><a href="">Tiêm chủng cho người lớn</a></h4>
        <p class="description">Vắc xin cho người lớn từ 28 tuổi trở lên</p>
        </div>
    </div>

    </div>
</section><!-- End Services Section -->