<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tiêm Chủng</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="..public/assets/img/favicon.png" rel="icon">
    <link href="..public/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../vendor/aos/aos.css" rel="stylesheet">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="align-items-center d-none d-md-flex">
          <i class="bi bi-clock"></i> Thứ 2 - Thứ 7, 8:00 to 22:00
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

        <a href="#" class="logo me-auto"><img src="../img/logo.png" alt=""></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="bi bi-house-door " href="/">Trang Chủ</a></li>
            <li><a class="bi bi-geo-alt" href="#">Tìm Trung Tâm</a></li>
            <li><a class="bi bi-calendar" href="#">Đăng ký tiêm</a></li>
            <li><a class="bi bi-list-ul " href="Vaccine_list">Danh sách Vắc xin</a></li>
            <li><a class="bi bi-cart3" href="#">Đặt mua vacxin</a></li>
            <li><a class="bi bi-question-square" href="FAQ">Tư Vấn</a></li>
            <li class="dropdown"><a class="bi bi-person-square" href="#"><span>Tài khoản</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a class = "bi bi-person-square" href="#">Thông tin cá nhân</a></li>
                <li><a class = "bi bi-cart3" href="#">Danh sách đặt mua</a></li>
                <li><a class = "bi bi-list-ul" href="#">Vắc xin đã tiêm</a></li>
              </ul>
            </li>
          </ul>
          
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->
    <main id="main">

      <!-- ======= Breadcrumbs Section ======= -->
      <section class="breadcrumbs">
        <div class="container">
        </div>
      </section><!-- End Breadcrumbs Section -->
    </main><!-- End #main -->
      {{{body}}}
        <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>MDM - Nhóm 14</h3>
              <p>
                ĐH Khoa Học Tự Nhiên <br>
                Nguyễn Văn Cừ - Quận 5<br><br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Dịch Vụ</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tìm trung tâm</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Đăng ký tiêm</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Đặt mua vacxin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tư vấn</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Các loại vắc xin</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Trẻ em</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Người lớn</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Phụ nữ mang thai</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Người lớn tuổi</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>About us</h4>
            <p>Dùng cho mục đích học thuật - không mang mục đích kinh doanh</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MDM - Nhóm 14</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">huuhoanghcmus</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/purecounter/purecounter.js"></script>
  <script src="../vendor/aos/aos.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>
  </body>
</html>
