<style>
    .search-form {
        width: 460px;
        margin-left: 600px;
        font-size: 19px;
    }
</style>
<div class="container d-flex align-items-center">
    <nav class="navbar navbar-light bg-light">
        <ul>
            <li class="dropdown"><a href="#"><span>Danh Mục</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li class="dropdown"><a href="#"><span>Vắc xin cho người trưởng thành</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">Gói 1-13 mũi</a></li>
                        <li><a href="#">Gói 2-10 mũi</a></li>
                        <li><a href="#">Gói 3-13 mũi</a></li>
                    </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Vắc xin cho người trưởng thành</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">Gói 1-11 mũi</a></li>
                        <li><a href="#">Gói 3-8 mũi</a></li>
                        <li><a href="#">Gói 3-11 mũi</a></li>
                    </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Vắc xin cho trẻ em</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">0-9 Tháng</a></li>
                        <li><a href="#">0-12 Tháng</a></li>
                        <li><a href="#">0-24 Tháng</a></li>
                        <li><a href="#">6-24 Tháng</a></li>
                        <li><a href="#">12-24 Tháng</a></li>
                    </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Vắc xin cho trẻ tiền học đường</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">4 Tuổi - 6 Tuổi</a></li>
                    </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Vắc xin cho tuổi vị thành niên và thanh niên</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">9 Tuổi - 18 Tuổi</a></li>
                    </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav><!-- .navbar -->
</div>

<div class="container d-flex align-items-center">
    <div class="col-md-1">
        <h6>Hiển thị theo</h6>
    </div>
    <div class="col-md-2">
        <select name="Vaccine_type" id="Vaccine_type" class="form-select">
            <option value="">Tất cả</option>
            <option value="">Vắc xin Gói</option>
            <option value="">Vắc xin Lẻ</option>
        </select>
    </div>
    <div class ="search-form">
        <input type="text" name="search"><input type="submit" value="Tìm Kiếm">
    </div>
</div>
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

    <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>
    </div>

    </div>
</section>
<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

    <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>
    </div>

    </div>
</section>

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

    <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">VẮC XIN PHÒNG UNG THƯ CỔ TỬ CUNG GARDASIL</a></h4>
            <p class="description">Nguồn gốc: MSD (USA)</p>
            <p class="description">Ung thư cổ tử cung</p>
            <p class="description">Phòng bệnh :</p>
            <p class="description">Ung thư cổ tử cung, âm hộ, âm đạo, các tổn thương tiền ung thư và loạn sản, mụn cóc sinh dục và bệnh lý do nhiễm virus HPV</p>
            <button class="btn btn-primary" href="#">Thêm vào giỏ hàng</button>
        </div>
        </div>
    </div>

    </div>
</section>